<!-- Vista para pc-->

<ion-header [ngClass]="{ 'hidden': screenWidth <= 768 }">
  <ion-toolbar color="light">
    <ion-title>{{ title }}</ion-title>

    
    <ion-buttons slot="end">
      
        <ion-button (click)="goToHome()">
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          Inicio
        </ion-button>
      <!--  
      <ion-button (click)="gotoLogin()">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        Log in
      </ion-button>

      <ion-button (click)="gotoSignUp()">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Sign up
      </ion-button>-->
  
      <ion-button (click)="goToRoutes()">
        <ion-icon name="location-outline"></ion-icon>
        Rutas
      </ion-button>

      <ion-button (click)="goToNotifications()">
        <ion-icon name="notifications-outline"></ion-icon>
        Notificaciones
      </ion-button>

      <ion-button (click)="goToCalendar()">
        <ion-icon name="calendar-outline"></ion-icon>
        Calendario
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<!-- vista para celulares

<ion-header [ngClass]="{ 'hidden': screenWidth > 768 }">
  <ion-toolbar color="secondary">
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

esta oculto para mentener consistencia con el figma

-->
