<!-- Vista para pc-->
<div [ngClass]="{ 'hidden': screenWidth <= 768 }">
  <ion-footer>
    <ion-title>aca va el footer</ion-title>
  </ion-footer>  
</div>


<!-- vista para celulares-->

<ion-tabs [ngClass]="{ 'hidden': screenWidth > 768 }">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="goToHome()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products" (click)="gotoLogin()">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Log in</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sign-up" (click)="gotoSignUp()">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Sign up</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

