<!-- Vista para pc-->

<ion-header [ngClass]="{ 'hidden': screenWidth <= 768 }">
  <ion-toolbar color="secondary">
    <ion-title>{{ title }}</ion-title>

    
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Inicio
      </ion-button>

      <ion-button (click)="gotoLogin()">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        Log in
      </ion-button>

      <ion-button (click)="gotoSignUp()">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Sign up
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<!-- vista para celulares-->

<ion-header [ngClass]="{ 'hidden': screenWidth > 768 }">
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>


